@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my jokes web Application</h1>
    <p>A man tell his Doctor,</p>
    <p>"Doc, help me. I'm addicted to Twitter!"</p>
    <p>The Doctor replies,</p>
    <p>"Sorry, I don't follow you......"</p>
</div>
