@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my jokes web Application</h1>
    <p>A man tell his Doctor,</a>.</p>
    <p>"Doc, help me. I'm addicted to Twitter!"</a>.</p>
    <p>The Doctor replies,</a>.</p>
    <p>"Sorry, I don't follow you......"</a>.</p>
</div>
